*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../images/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}
form .requiredField{
    text-shadow: 2px 2px 2px #000;
}
form ul, form .form-text{
    color: #fff !important;
}