{% extends 'base.html' %}
{% block title %} Product {% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile"/>
        <input type="submit" value="Importar"/>
    </form>
{% endblock %}