{% extends "base.html"%}

{% block title %} Login {% endblock %}
{% block content %}

<div class="container mt-5 mb-4 p-5 rounded-3 col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6 col-xxl-6" id="form-login">
    {% load crispy_forms_tags %}
    <h1 class="text-center my-4 text-light">Login</h1>
    <form action="" method="POST" class="text-light">
        {% csrf_token %}
        {{form|crispy}}
        <div class="d-flex justify-content-around my-3">
            <button type="submit" class="btn btn-success w-25">Login</button>
            <a href="{% url 'auth:register' %}" class="btn btn-primary w-25">Register</a>
        </div>
    </form>
</div>

{% endblock %}